.Actuator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px;
  margin: 16px 0;
}

.ControlsContainer {
    margin: 0 28px 0 auto;
    button {
      margin: 8px 4px;
    }
}

.ActuatorSubtitle {
  a{
    color: #C51A4A;
  }
}

img {
  min-height: 100px;
  min-width: 100px;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  display:block;
}
