.Indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin: 0 8px;
}

.Icon {
  margin-left: 16px;
  margin-right: 0;
}

.Seeds {
  color: #2e7d32;
}

.Peers {
  color: #c62828;
}
